[package]
name = "zote"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
clap = { version = "4.1", features = ["derive"] }
either = "1.8.1"
itertools = "0.10.5"
lazy_static = "1.4.0"
regex = "1.7"
